.customer-list{

    display:flex;

    flex-direction:column;

    gap:18px;

    margin-top:20px;

}

.empty-list{

    background:white;

    border-radius:18px;

    padding:50px;

    text-align:center;

    font-size:22px;

    color:#9ca3af;

    box-shadow:0 5px 20px rgba(0,0,0,.08);

}